[Desktop Entry]
Version=1.0
Type=Application
Name=LibreOffice Calc
Exec=openteam-screen-launch calc
Icon=libreoffice-calc
Terminal=false
StartupNotify=true
